img {
    width: 120px;
}

.description {
    background: white;
    border-radius: 10px;
    div {
        padding: 10%;
    }
}

.picture-card {
    background: #4b78bb;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    a {
        color: white;
    }
}

mat-toolbar {
    height: 0px;
}

button {
    background-color: #ee4141de;
    color: white;
}

@media (max-width: 850px) {
    .picture-card, .description {
        flex: 1 1 100% !important;
        max-width: 100% !important;
    }
}