.form-horizontal {
    margin-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

.glyphicon-user, .glyphicon-remove-circle {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 40px;    
}

a:hover {
    text-decoration: none;
}

img {
    width: 200px;
    margin-top: -25px;
    padding-left: 20px;
}

.navbar {
    padding: 10px;
}