#no-results {
  text-align: center;
}

div.llamas {
  padding: 0 20% 0 20%;
}

a {
  color: darkgray;
}

#no-results mat-card {
  margin: 0 25% 0 25%;
}

@media (max-width: 900px) {
  #no-results mat-card {
    margin: 0 15% 0 15%;
  }  
}

@media (max-width: 636px) {
  #no-results mat-card {
    margin: 0 2% 0 2%;
  }  
}