.form-horizontal {
    margin-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

.glyphicon-user, .glyphicon-remove-circle, .glyphicon-cog {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 20px;    
}

.glyphicon-remove-circle {
    margin-right: 15px;
    margin-top: -25px;
    margin-left: 5px;
    color: #337AB7;
}

.glyphicon-remove-circle:hover {
    color: #23527C;
}

a:hover {
    text-decoration: none;
}

img {
    width: 200px;
    margin-top: -25px;
    padding-left: 20px;
}

.navbar {
    padding: 10px;
}

.navbar-center
{
   position: absolute;
   width: 50%;
   left: 25%;
   text-align: center;
}

.navbar-toggle {
    margin-top: -40px;
}

.navbar-default .navbar-collapse {
    border-top: none;
}


@media (max-width: 767px) {
    .navbar-center {
        width: 75%;
        left: 5%;
    }

    .glyphicon-user, .glyphicon-remove-circle, .glyphicon-cog {
        margin-left: 10px;    
    }

    .glyphicon-remove-circle {
        margin-left: -5px;
    }

    .glyphicon-remove-circle {
        margin-right: -10px;
    }
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.btn:focus {
    outline:0;
}