<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a New Account</h3>
  </div>
  <div class="panel-body">
    <div [formGroup]="llamaForm">
      <div class="form-group">
        <input id="name" formControlName="name" class="form-control" placeholder="Full Name" required>
      </div>
      <input id="email" type="email" formControlName="email" class="form-control" placeholder="Email Address" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
        <div class="form-group" formGroupName="password">
          <div class="row">
            <div class="col-md-6">
              <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="col-md-6">
              <input type="password" formControlName="confirm_password" class="form-control" placeholder="Confirm Password" required>
            </div>
        </div>
      </div>

      <button (click)="addLlama()" type="submit" [disabled]='!llamaForm.valid' class="btn btn-primary btn-block">Create Account</button>
    </div>
    <div id="alreadyExists" *ngIf="alreadyExists">*This account already exists. Please login.</div>
  </div>
</div>