.jumbotron {
    text-align: center;
    color: white;
    align-content: center;
    margin-left: 10%;
    padding-top: 30px;
    background-color: #ff471a;
    border-radius: 5px;
}

.container {
    align-content: center;
}

img {
    width: 200px;
    margin-top: -25px;
    padding-left: 20px;
}

.navbar {
    padding: 10px;
}

@media (max-width: 991px){
    .jumbotron {
        margin-left: 0px;
    }
    .col-md-6 {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

	* {
		border-top: 0px;
	}
}
