.jumbotron {
    text-align: center;
    align-content: center;
    padding: 5em inherit !important;
}

.container {
    align-content: center;
}

img {
    width: 200px;
    margin-top: -25px;
    padding-left: 20px;
}

.navbar {
    padding: 10px;
}