<nav class="navbar navbar-default">
  <div class="row">
    <div class="col-sm-2 col-md-2">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="../../assets/images/logo.png">
        </a>
      </div>
    </div>
    <div class="col-sm-5 col-md-5 pull-right">
        <app-login-box></app-login-box>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h1>Welcome to Llamaface!</h1>
        <h3>Sign up or login to see your friends!</h3>
    </div>
  </div>
  <div class="col-md-6">
    <app-signup-box></app-signup-box>
  </div>
</div>