::ng-deep mat-card, .posts {
    margin: 0 15% 0 15%;
}

.form-group {
    padding-left: 5%;
    padding-right: 5%;
}

p {
  vertical-align: center;
}

button {
    margin-top: 15px;
}

.fa-cog {
  margin-left: 46%;
  color: #676767;
}

.loading {
  margin-top: 100px;
}

.loading p {
  margin-top: 35px;
  padding: 20px;
  text-align: center;
}

@media (max-width: 500px) {
  .fa-cog {
    margin-left: 37%;
  }
}

@media (max-width: 767px) {
  p, h3 {
    text-align: center;
    margin-left: 0px;
  }

  img {
    display: block;
    margin: auto;
  }
}