.profile {
  text-align: center;
  margin-left: 20px;
  max-height: 450px;
  img {
    max-width: 300px;
  }
}

.header {
  margin-bottom: 5px;
}

.body {
  margin-bottom: 20px;
}

a {
    color: grey;

    &:hover { 
      background-color: transparent !important; 
      text-decoration: none !important; 
  }
}

p {
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 959px) {
  .profile {
    margin-left: unset;
  }
}
