<app-search-header></app-search-header>
<div class="col-md-4">
  <div class="jumbotron">
      <h1>{{ llama.name }}</h1>
      <img id="profile" src="{{llama.picture_url}}">
      <h3> Age: {{ llama.age }} </h3>
      <h3> Location: {{ llama.location }}</h3>
  </div>
</div>
<div class="col-md-8">
  <div class="jumbotron">
    <h2>Bio</h2>
    <p>{{ llama.description }}</p>
  </div>
</div>
<div class="col-md-8" id="posts">
    <div class="jumbotron">
      <h2>Posts</h2>
      <div id="no-results" *ngIf="posts?.length == 0">
        <div class="jumbotron">
          <p id="no-posts">This llama hasn't posted anything yet!</p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12" *ngFor="let post of posts">
            <div class="jumbotron">
                <div *ngIf="llama._id == user._id" class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a (click)="removePost(post._id)">Delete Post</a></li>
                  </ul>
                </div>
              <div class="row">
                <div class="col-md-3 col-sm-3">
                  <h3>
                    <a href="llamas/{{ llama._id}}">{{ llama.name }}</a>
                  </h3>
                  <a href="llamas/{{ llama._id }}">
                    <img src="{{ llama.picture_url}}">
                  </a>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <p id="description">{{ post.text }}</p>
                  <p id="posted">posted at {{ post.createdAt | date:'medium' }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>