<app-navbar></app-navbar>
<div fxLayout="row wrap" fxLayoutGap="20px" fxLayout.xs="column" fxLayout.sm="column">
  <mat-card fxLayout="column" fxFlex="25" fxLayoutAlign="center center" class="profile">
    <h3>{{ llama.name }}</h3>
    <img mat-card-image src="{{llama.picture_url}}">
    <h4> Age: {{ llama.age }}</h4>
    <h4> Location: {{ llama.location }}</h4>
  </mat-card>
  <div fxLayout="column" fxFlex="70">
    <mat-card class="header">
      <h3>Bio</h3>
    </mat-card>
    <mat-card class="body">
      <p>{{ llama.description }}</p>
    </mat-card>
    <mat-card class="header">
      <h3>Posts</h3>
    </mat-card>
    <app-post-list [userId]="llamaId"></app-post-list>
  </div>
</div> 