/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

$red: #ff3e3e;
$light-grey: #eee;

body {
    overflow-x: hidden;
}

.warn {
    color: $red;
}

mat-card {
    background: $light-grey !important;
}

a {
    &:hover {
        text-decoration: none !important; 
        background-color: transparent;
    }

    color: #267AB6;
}
